
/* alignment classes & id's
-------------------------------------------------------------------- */
	body {
		margin-top: 120px;
	}
	
	h1{
		color:#eee;
		font-size:20px;
		line-height:24px;
		letter-spacing: 1px;
		padding:4px 8px;
		font-style:normal;
		margin-top:10px;
		text-align:left;
		background:#555;
		border-top: 3px solid #000;
		-webkit-border-radius: 6px 6px 0px 0px;
		-moz-border-radius: 6px 6px 0px 0px;
		border-radius: 6px 6px 0px 0px;
	}
	
	h5 {
		padding:0px;
		margin:14px 0px 4px 0px;
		color:#246;
		font-size:16px;
		line-height:17px;
		font-weight:bold;
		font-family:Tahoma,Arial,sans-serif;
	}	
	
	h6 { 
		padding:0px;
		margin:12px 0px 2px 0px;
		color:#333;
		font-size:13px;
		line-height:16px;
		font-weight:normal;
	}	

	h6 strong { 
		background:#eee;
		padding:1px 2px;
	}
	
	p.nav-right {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.picright {
		float: right;
		margin: 10px 0px 10px 10px;
		padding: 0px;
		font-size:10px;
		line-height:12px; 
		width: 220px;
		text-align: center;
		background:#fff;
		max-width:40%;
	}
	
	.picright img, .picright span {
		width: 100% \9;
		max-width: 100%;
		height: auto;
	}

	table.members {
		margin-left:auto;
		margin-right:auto;
		border-top:1px solid #ccc;
		border-bottom:1px solid #ccc;
	}

	table.members th{
		font-weight:bold;
		font-size:12px;
		text-align:center;
		padding:4px;
		background:#eee;
	}

	table.members td{
		padding:4px 10px;
		font-size:11px;
	}
	
	.accordion-inner a {
		display: block;
		margin-left: 15px;
	}
	
	.container-fluid {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		 padding-left: 6px;
		 padding-right: 12px;
	}
	
	.panel-group .panel + .panel { 
		margin-top: 0px;
	}
	
	.panel-group .panel { 
		border-radius: 8px;
		margin-bottom: 0px;
		overflow: hidden;
	}
	
	.panel-title { 
		font-size: 15px;
	}
	
	.panel-heading { 
		padding: 9px 12px 8px 12px;
		overflow: hidden;
		-moz-box-shadow: inset 5px 0 5px -5px #636D7F;
		-webkit-box-shadow: inset 5px 0 5px -5px #636D7F;
		box-shadow: inset 5px 0 5px -5px #636D7F;
	}

	.panel-default {
		border-color: #8694AE;
		overflow:hidden;
	}
	
	.panel-default > .panel-heading { 
		border-radius: 8px 8px 0 0;
		background-color: #CCD5E2;
		border-color: #8694AE;
		overflow:hidden;
	}

	.accordion-inner {
		line-height: 1.8;
		padding-bottom: 5px;
		background: #fff;
		border-radius: 0 0 8px 8px;
		-moz-box-shadow: inset 5px 0 5px -5px #636D7F;
		-webkit-box-shadow: inset 5px 0 5px -5px #636D7F;
		box-shadow: inset 5px 0 5px -5px #636D7F;
		border-top: 1px solid #8694AE;

	}

	#row1 {
		background: #eee;
	}
	
	.menu-title {
		margin: 10px 0px -2px 0px;
		background: #8694AE;
		color: #000;
		font-size: 125%;
		border-radius: 8px;
		border: none;
		line-height:30px;
	}
	
	#ggle, #search{
		background: #eee;
		border-radius: 8px;
		padding:10px;
		display:none;
	}
	
	#ggle p{
		background: #eee;
		border-radius: 8px 8px 0 0;
		margin:0px;
	}

/* 
--------------------------------------------------------------------- */
	#logo img {
		width:100%;
		height:100%;
	}

	.row [class*="span"] {
		min-height: 0px;
	}

	.navbar select {
		color: #777777;
		float: none;
	//	padding: 10px 15px;
		text-decoration: none;
	//	text-shadow: 0 1px 0 #FFFFFF;
	}	
	
	.text-center {
		text-align: center;
	}
	
	.top-nav{
		background: #3d434f; /* Old browsers */
		background: -moz-linear-gradient(top,  #3d434f 0%, #2f343d 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d434f), color-stop(100%,#2f343d)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #3d434f 0%,#2f343d 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #3d434f 0%,#2f343d 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #3d434f 0%,#2f343d 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #3d434f 0%,#2f343d 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d434f', endColorstr='#2f343d',GradientType=0 ); /* IE6-9 */
	}
	
	.bot-line{
		border-bottom:2px solid #222;
	}
	
	.margin-10 {
		margin:7px;	
	}
	
	.goog-te-gadget {
		display: inline;
	}
	
	.sampleClass {float:left;}

/* BEGIN media queries for responsive design ------------------------ */
	
	/* Extra small devices (phones, less than 768px) 
	/* This is the default in Bootstrap */
	@media screen and (max-width: 991px) {
			.sampleClass {float:none;}
	}
	@media screen and (max-width: 480px) {
		body {
			margin-top: 90px;
		}
		div.navbar-collapse {
			height:40px;
		}	
		p.nav-right {
			margin-top: 5px;
			margin-bottom: 5px;
		}
		
		.bot-line img{
			max-width: 80%;
		}
		.navbar-toggle {
			margin-top: 3px;
			margin-right: 10px;
			margin-bottom: 3px;
		}
	}
	
	@media screen and (max-width: 390px) {
		body {
			margin-top: 80px;
		}
	}
	
	@media screen and (max-width: 350px) {
		body {
			margin-top: 70px;
		}
	}

	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
	
	}

	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
	
	}

	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) {
	
	}
/* END ------------------------------------------------------------- */